<div class="container">

  <div>
    <h2><%= @drone.model %> </h2>
  </div>

  <div class="renting-infos">
    <% if @is_booked %>
      <p>This drone is currently booked.</p>
    <% else %>
      <p>This drone is currently available for booking.</p>
    <% end %>
  </div>

  <div class="">
    <% if @drone.photo.attached? %>
      <%= cl_image_tag @drone.photo.key, width: 600 %>
    <% else %>
      <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677677551/default_drone.png" alt="default_drone">
    <% end %>
  </div>

  <div class="mx-6">
    <h2 class="py-3">Description</h2>
    <p><%= @drone.brand %> - <%= @drone.model %></p>
    <p> <%= @drone.description %> </p>
        <div class="pricing py-3">
          <p><%= @drone.price %> € / per day</p>
        </div>
  </div>

  <div>
    <%= simple_form_for @new_booking do |f| %>
      <%= f.input :booking_start, as: :date, html5: true %>
      <%= f.input :booking_end, as: :date, html5: true %>
      <%= f.hidden_field :drone_id, value: @drone.id %>
      <%= f.button :submit, 'Book this drone', class:"btn btn-primary" %>
    <% end %>
  </div>

  <br>

  <hr class="solid">

  <h1>Reviews of : <%= @drone.brand %> -  <small><%= @drone.model %></small></h1>

  <br>

  <h2><%= pluralize @drone.reviews.size, "review" %></h2>

  <br>

  <% if @drone.reviews.blank? %>
    <p>Be the first to leave a review for <%= @drone.model %> </p>
  <% else %>
    <% @drone.reviews.each do |review| %>
      <p><%= review.content %> - <%= review.rating %>/5</p>
    <% end %>
  <% end %>


  <%= simple_form_for([@drone, @review]) do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

  <br>

  <%= link_to "< Back to all drones", drones_path %>

</div>
