<div class="container">

  <div>
    <h2><%= @drone.model %> </h2>
  </div>

  <div class="renting-infos">
    <% if @is_booked %>
      <p>This drone is currently booked.</p>
    <% else %>
      <p>This drone is currently available for booking.</p>
    <% end %>
  </div>

  <div class="">
    <% if @drone.photo.attached? %>
      <%= cl_image_tag @drone.photo.key, width: 600 %>
    <% else %>
      <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677677551/default_drone.png" alt="default_drone">
    <% end %>
  </div>

  <div class="mx-6">
    <h2 class="py-3">Description</h2>
    <p><%= @drone.brand %> - <%= @drone.model %></p>
    <p> <%= @drone.description %> </p>
      <div class="pricing py-3">
        <p>90€ par jour</p>
      </div>
  </div>

  <div>
    <%= simple_form_for @new_booking do |f| %>
      <%= f.input :booking_start, as: :date, html5: true %>
      <%= f.input :booking_end, as: :date, html5: true %>
      <%= f.button :submit, 'Book this drone', class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
