
<div class="container">

  <div>
    <h2><%= @drone.model %> </h2>
  </div>

  <div class="renting-infos">
    <% if @is_booked %>
      <p>This drone is currently booked.</p>
    <% else %>
      <p>This drone is currently available for booking.</p>
    <% end %>
  </div>

  <div class="">
    <% if @drone.photo.attached? %>
      <%= cl_image_tag @drone.photo.key, width: 600 %>
    <% else %>
      <%= cl_image_tag "drone_default.jpg", width: 600 %>
    <% end %>
  </div>

  <div class="mx-6">
    <h2 class="py-3">Description</h2>
    <p><%= @drone.brand %> - <%= @drone.model %></p>
    <p> <%= @drone.description %> </p>
  </div>

  <div class="pricing py-3">
    <p>90€ par jour</p>
  </div>

</div>
