<h3>My drones</h3>
<div class="container">
  <div class="row d-flex justify-content-around">
    <% current_user.drones.each do |drone| %>
   <div class="col-lg-4">
      <div class="card-product">
        <%= link_to(drone_path(drone)) do %>
          <% if drone.photo.attached? %>
            <%= cl_image_tag drone.photo.key, height: 300, width: 400 %>
          <% else %>
            <%= cl_image_tag "drone_default.jpg", height: 300, width: 400 %>
          <% end %>
        <% end %>
        </a>
          <div class="card-product-infos">
            <h2><%= drone.brand %></h2>
            <h3><%= drone.model %></h3>
          </div>
      </div>
    </div>
    <% end %>
  </div>
 </div>
</div>
