<div class="container">

  <div>
    <h2><%= @drone.brand %> - <%= @drone.model %> </h2>
  </div>

  <div class="renting-infos">
    <% if @is_booked %>
      <p>This drone is currently booked.</p>
    <% else %>
      <p>This drone is currently available for booking.</p>
    <% end %>
  </div>

  <div class="">
    <% if @drone.photo.attached? %>
      <%= cl_image_tag @drone.photo.key, width: 600 %>
    <% else %>
      <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677677551/default_drone.png" alt="default_drone">
    <% end %>
  </div>

  <%= link_to "Edit ✎", edit_admin_drone_path, class: 'btn btn-primary' %>
  <%= link_to "Delete this Drone", admin_drone_path(@drone), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this drone ?" } %>

  <div class="mx-6">
    <h2 class="py-3">Description</h2>
    <p><%= @drone.brand %> - <%= @drone.model %></p>
    <p> <%= @drone.description %> </p>
  </div>

  <div class="pricing py-3">
    <p><%= @drone.price %> €</p>
  </div>

</div>
