<div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(https://res.cloudinary.com/ds4tpkzth/image/upload/v1677771086/billy-huynh-v9bnfMCyKbg-unsplash_uoqbez.jpg);">

  <div>
    <h2><%= @drone.model %> </h2>
  </div>

  <div class="renting-infos">
    <% if @is_booked %>
      <p>This drone is currently booked.</p>
    <% else %>
      <p>This drone is currently available for booking.</p>
    <% end %>
  </div>

  <div class="">
    <% if @drone.photo.attached? %>
      <%= cl_image_tag @drone.photo.key, width: 600 %>
    <% else %>
      <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677677551/default_drone.png" alt="default_drone">
    <% end %>
  </div>

  <button type="button" class="btn btn-info">✎ Edit</button>

  <div class="mx-6">
    <h2 class="py-3">Description</h2>
    <p><%= @drone.brand %> - <%= @drone.model %></p>
    <p> <%= @drone.description %> </p>
  </div>

  <div class="pricing py-3">
    <p>90€ par jour</p>
  </div>

  <div>
  <%= month_calendar(events: @bookings) do |date, bookings| %>
    <%= date %>
    <% bookings.each do |booking| %>
      <%= booking.start %>
    <% end %>
  <% end %>
  </div>

</div>
